<li class="questions">
  <% @questions.each do |f| %>

    <span class= "content"><%= f.content %></span>
    <span class="timestamp">
    Posted <%= time_ago_in_words(f.created_at) %> ago.
    </span>
    <% if aleady_pushed f.id %>
      <input type=button value="いいね"  disabled>
    <% else %>
      <%= form_for( f, :html => {:class=>'like'}) do |f|%>
        <%= f.submit "いいね", class: "btn btn-primary" %>
        <%= f.hidden_field :id %>
      <% end %>
    <% end %>
    <strong id = "counted">
      <%= f.countnum %>
    </strong>
  <% end %>
</li>
